.column3 {
    margin: 15px; 
    background-color: lightgrey;
}

.row {
    padding: 20px;  
}

.col-md-4 {
    padding: 10px;
}

.ptext {
    padding-top: 10px;
}

.img-fluid {
    width: 250px; 
    height: 250px;
}